:root {
  --primary: rgb(6, 73, 112);
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Karla", sans-serif;
  background-color: var(--bg);
  color: #fff;
  min-height: 7000px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgb(6, 73, 112);
  border-bottom: 1px solid var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-flex;
  font-size: 1.6rem;
  font-family: "Noticia Text", Arial, sans-serif;
  margin: 0 1rem;
  border: none;
}

.navbar .navbar-nav a:hover {
  color: #000;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #000;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
  flex-grow: 1;
  margin-right: 1px;
}

.navbar .navbar-extra a:hover {
  color: var(--bg);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 3%,
    rgba(255, 255, 255, 0) 25%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 0.5rem;
  line-height: 1.2;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/*About Section*/

.about {
  padding: 8rem 7% 1.4rem;
}

.about h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: #000;
}

.about h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
  margin-left: 1rem;
}

.about .row .content h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #000;
  font-weight: 500;
  line-height: 1.6;
  text-align: justify;
}

.about1 {
  padding: 8rem 7% 1.4rem;
}

.about1 h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: #000;
}

.about1 h2 span {
  color: var(--primary);
}

.about1 .row {
  display: flex;
}

.about1 .row .about-img {
  flex: 1 1 45rem;
}

.about1 .row .about-img img {
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.about1 .row .content {
  padding: 0 1rem;
  flex: 1 1 35rem;
  margin-left: 2rem;
}

.about1 .row .content h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #000;
  font-weight: 500;
  line-height: 1.6;
  text-align: justify;
}

.icons {
  padding: 8rem 7% 1.4rem;
}

.icons h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: #000;
}

.icons h2 span {
  color: var(--primary);
}

.container {
  height: 250px;
  display: flex;
  justify-content: center;
}

.box {
  margin: 10px;
  padding: 10px;
  align-items: center;
}

.box img {
  display: block;
  margin: 0 auto;
}

.container .box h3 {
  text-align: center;
  margin-top: 20px;
  color: #000;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.6;
}
.benefit {
  padding: 8rem 7% 1.4rem;
}

.benefit h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 2rem;
  color: #000;
}

.benefit h2 span {
  color: var(--primary);
}

.benefit p {
  text-align: center;
  margin-top: 1px;
  color: #000;
  font-size: 1.3rem;
  margin-bottom: 3rem;
  font-weight: 500;
  line-height: 1.6;
}

.container-list {
  height: 250px;
  display: flex;
  justify-content: center;
}

.tag {
  margin: 10px;
  padding: 10px;
  align-items: center;
}

.tag img {
  display: block;
  margin: 0 auto;
}

.container-list .tag h3 {
  text-align: center;
  margin-top: 20px;
  color: #000;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.6;
}

.container-list .tag p {
  text-align: center;
  margin-top: 20px;
  color: #000;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.6;
}

/* Menu Section */
.main-text {
  padding: 20rem 7% 1.4rem;
}

.main-text h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 2rem;
  color: #000;
}

.main-text h2 span {
  color: var(--primary);
}

.main-text p {
  text-align: center;
  font-size: 2.3rem;
  color: #000;
  line-height: 1.6;
  font-weight: 600;
}

.main-wrap {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25rem;
  padding-bottom: 15rem;
}

.main-wrap .product {
  width: 100%;
  max-width: 900px;
  display: flex;
}

.main-wrap .product .image-galery {
  flex-basis: 53%;
  background: var(--primary);
  box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.07);
  position: relative;
}

.main-wrap .product .image-galery img {
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.main-wrap .product .product-details {
  flex-basis: 53%;
  background: var(--primary);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 40px 30px 40px 40px;
}

.main-wrap .product .product-details h2 {
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 10px;
  color: #fff;
}
.main-wrap .product .product-details h3 {
  font-size: 17px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 10px;
  color: #fff;
}
.main-wrap .product .product-details h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  color: #000;
}
.main-wrap .product .product-details p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.6;
  text-align: justify;
}

.main-wrap .product .product-details .sub-btn {
  padding: 0 30px;
  padding-top: 2rem;
}

.main-wrap .product .product-details .sub-btn .submit {
  width: 100%;
  padding: 10px;
  border: 0;
  outline: 0;
  background: var(--bg);
  color: #000;
  font-size: 15px;
  font-weight: 500;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.main-wrap2 {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25rem;
}

.main-wrap2 .product {
  width: 100%;
  max-width: 900px;
  display: flex;
}

.main-wrap2 .product .image-galery {
  flex-basis: 53%;
  background: var(--primary);
  box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.07);
  position: relative;
}

.main-wrap2 .product .image-galery img {
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.main-wrap2 .product .product-details {
  flex-basis: 53%;
  background: var(--primary);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 40px 30px 40px 40px;
}

.main-wrap2 .product .product-details h2 {
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 10px;
  color: #fff;
}
.main-wrap2 .product .product-details h3 {
  font-size: 17px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 10px;
  color: #fff;
}
.main-wrap2 .product .product-details h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  color: #000;
}
.main-wrap2 .product .product-details p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.6;
  text-align: justify;
}

.main-wrap2 .product .product-details .sub-btn {
  padding: 0 30px;
  padding-top: 2rem;
}

.main-wrap2 .product .product-details .sub-btn .submit {
  width: 100%;
  padding: 10px;
  border: 0;
  outline: 0;
  background: var(--bg);
  color: #000;
  font-size: 15px;
  font-weight: 500;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.main-wrap3 {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35rem;
}

.main-wrap3 .product {
  width: 100%;
  max-width: 900px;
  display: flex;
}

.main-wrap3 .product .image-galery {
  flex-basis: 53%;
  background: var(--primary);
  box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.07);
  position: relative;
}

.main-wrap3 .product .image-galery img {
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.main-wrap3 .product .product-details {
  flex-basis: 53%;
  background: var(--primary);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 40px 30px 40px 40px;
}

.main-wrap3 .product .product-details h2 {
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 10px;
  color: #fff;
}
.main-wrap3 .product .product-details h3 {
  font-size: 17px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 10px;
  color: #fff;
}
.main-wrap3 .product .product-details h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  color: #000;
}
.main-wrap3 .product .product-details p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.6;
  text-align: justify;
}

.main-wrap3 .product .product-details .sub-btn {
  padding: 0 30px;
  padding-top: 2rem;
}

.main-wrap3 .product .product-details .sub-btn .submit {
  width: 100%;
  padding: 10px;
  border: 0;
  outline: 0;
  background: var(--bg);
  color: #000;
  font-size: 15px;
  font-weight: 500;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.main-wrap4 {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40rem;
}

.main-wrap4 .product {
  width: 100%;
  max-width: 900px;
  display: flex;
}

.main-wrap4 .product .image-galery {
  flex-basis: 53%;
  background: var(--primary);
  box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.07);
  position: relative;
}

.main-wrap4 .product .image-galery img {
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.main-wrap4 .product .product-details {
  flex-basis: 53%;
  background: var(--primary);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 40px 30px 40px 40px;
}

.main-wrap4 .product .product-details h2 {
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 10px;
  color: #fff;
}
.main-wrap4 .product .product-details h3 {
  font-size: 17px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 10px;
  color: #fff;
}
.main-wrap4 .product .product-details h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  color: #000;
}
.main-wrap4 .product .product-details p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.6;
  text-align: justify;
}

.main-wrap4 .product .product-details .sub-btn {
  padding: 0 30px;
  padding-top: 2rem;
}

.main-wrap4 .product .product-details .sub-btn .submit {
  width: 100%;
  padding: 10px;
  border: 0;
  outline: 0;
  background: var(--bg);
  color: #000;
  font-size: 15px;
  font-weight: 500;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.main-wrap5 {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 43rem;
}

.main-wrap5 .product {
  width: 100%;
  max-width: 900px;
  display: flex;
}

.main-wrap5 .product .image-galery {
  flex-basis: 53%;
  background: var(--primary);
  box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.07);
  position: relative;
}

.main-wrap5 .product .image-galery img {
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.main-wrap5 .product .product-details {
  flex-basis: 53%;
  background: var(--primary);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 40px 30px 40px 40px;
}

.main-wrap5 .product .product-details h2 {
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 10px;
  color: #fff;
}
.main-wrap5 .product .product-details h3 {
  font-size: 17px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 10px;
  color: #fff;
}
.main-wrap5 .product .product-details h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  color: #000;
}
.main-wrap5 .product .product-details p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.6;
  text-align: justify;
}

.main-wrap5 .product .product-details .sub-btn {
  padding: 0 30px;
  padding-top: 2rem;
}

.main-wrap5 .product .product-details .sub-btn .submit {
  width: 100%;
  padding: 10px;
  border: 0;
  outline: 0;
  background: var(--bg);
  color: #000;
  font-size: 15px;
  font-weight: 500;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.main-text2 {
  padding: 25rem 7% 1.4rem;
}

.main-text2 p {
  text-align: center;
  font-size: 2.3rem;
  color: #000;
  line-height: 1.6;
  font-weight: 600;
}

.main-text2 .main-wrap2 {
  padding-top: 20rem;
}

.main-text2 .main-wrap4 {
  padding-top: 43rem;
}

.price {
  padding: 25rem 7% 1.4rem;
}

.price p {
  text-align: center;
  font-size: 2.3rem;
  color: #000;
  line-height: 1.6;
  font-weight: 600;
}

.price .main-wrap {
  padding-top: 20rem;
}

.price .product {
  width: 100%;
  max-width: 1000px;
  display: flex;
}

.price .main-wrap .image-galery {
  flex-basis: 63%;
}

.price .main-wrap .product-details {
  flex-basis: 43%;
}

.price .main-wrap2 {
  padding-top: 5rem;
}

.price .product {
  width: 100%;
  max-width: 1000px;
  display: flex;
}

.price .main-wrap2 .image-galery {
  flex-basis: 63%;
}

.price .main-wrap2 .product-details {
  flex-basis: 43%;
}

/* Rating and Reviews */
.rate h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 2rem;
  color: #000;
}

.rate h2 span {
  color: var(--primary);
}

.rate {
  padding: 10rem 7% 1.4rem;
}

.container-rate {
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: var(--bg);
}

.rating {
  position: relative;
  width: 400px;
  background: #111;
  padding: 20px 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rating .post {
  display: none;
}

.rating .text {
  font-size: 25px;
  color: #666;
  font-weight: 500;
}

.rating .edit {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}

.rating .edit:hover {
  text-decoration: underline;
}

.rating .star-widget input {
  display: none;
}

.star-widget label {
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
  color: #fd4;
}

input#rate-5:checked ~ label {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

#rate-1:checked ~ form header:before {
  content: "I just hate it!";
}
#rate-2:checked ~ form header:before {
  content: "I don't like it!";
}
#rate-3:checked ~ form header:before {
  content: "It is awesome!";
}
#rate-4:checked ~ form header:before {
  content: "I just like it!";
}
#rate-5:checked ~ form header:before {
  content: "I just love it!";
}

.rating form {
  display: none;
}

input:checked ~ form {
  display: block;
}

form header {
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}

form .textarea {
  height: 100px;
  width: 100%;
  overflow: hidden;
}

form .textarea textarea {
  height: 100px;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}

form .btn {
  height: 45px;
  width: 100%;
  margin: 15px 0;
}

form .btn button {
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

form .btn button:hover {
  background: #1b1b1b;
}

/* Contact Section */
.contact {
  padding: 10rem 7% 1.4rem;
}

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: #000;
}

.contact h2 span {
  color: var(--primary);
}

.contact p {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 3rem;
  color: #000;
  line-height: 1.6;
  font-weight: 500;
  margin-left: 2rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
  margin-top: 2rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

footer .partner p {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.1);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 34rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
    margin-left: 0;
    margin-top: 2rem;
  }

  .about.row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about1 {
    padding-top: 4rem;
  }

  .about1 .row {
    flex-wrap: wrap;
  }

  .about1 .row .about-img img {
    height: 34rem;
    object-fit: cover;
    object-position: center;
  }

  .about1 .row .content {
    padding: 0;
    margin-left: 0;
    margin-top: 2rem;
  }

  .about1.row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .icons {
    padding-top: 4rem;
  }

  .icons .container {
    flex-wrap: wrap;
  }

  .icons .container .box img {
    height: 6rem;
    object-fit: cover;
    object-position: center;
  }

  .icons .container .box h3 {
    padding: 0;
    margin-left: 0;
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .benefit {
    padding: 68rem 7% 1.4rem;
  }

  .benefit .container-list {
    flex-wrap: wrap;
  }

  .benefit p {
    padding: 0;
    margin-left: 0;
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .benefit .container-list .tag img {
    height: 7rem;
    object-fit: cover;
    object-position: center;
  }

  .benefit .container-list .tag h3 {
    padding: 0;
    margin-left: 0;
    margin-top: 1rem;
    font-size: 2rem;
  }

  .benefit .container-list .tag p {
    padding: 0;
    margin-left: 0;
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .contact h2 {
    padding: 0.5rem 7% 1.4rem;
  }

  .contact p {
    margin-right: 2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  .main-text {
    padding: 110rem 7% 1.4rem;
  }

  .main-wrap {
    padding: 50rem 7% 1.4rem;
  }

  .main-wrap .product {
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-wrap .product .image-galery {
    height: 10rem;
    object-fit: cover;
    object-position: center;
    flex-basis: 43%;
  }

  .main-wrap .product .product-details {
    flex-basis: 40%;
  }

  .main-wrap2 {
    padding: 45rem 7% 1.4rem;
  }

  .main-wrap2 .product {
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-wrap2 .product .image-galery {
    height: 10rem;
    object-fit: cover;
    object-position: center;
    flex-basis: 43%;
  }

  .main-wrap2 .product .product-details {
    flex-basis: 40%;
  }

  .main-wrap3 {
    padding: 45rem 7% 1.4rem;
  }

  .main-wrap3 .product {
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-wrap3 .product .image-galery {
    height: 10rem;
    object-fit: cover;
    object-position: center;
    flex-basis: 43%;
  }

  .main-wrap3 .product .product-details {
    flex-basis: 40%;
  }

  .main-wrap4 {
    padding: 45rem 7% 1.4rem;
  }

  .main-wrap4 .product {
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-wrap4 .product .image-galery {
    height: 10rem;
    object-fit: cover;
    object-position: center;
    flex-basis: 43%;
  }

  .main-wrap4 .product .product-details {
    flex-basis: 40%;
  }

  .main-wrap5 {
    padding: 45rem 7% 1.4rem;
  }

  .main-wrap5 .product {
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-wrap5 .product .image-galery {
    height: 10rem;
    object-fit: cover;
    object-position: center;
    flex-basis: 43%;
  }

  .main-wrap5 .product .product-details {
    flex-basis: 40%;
  }

  .main-wrap {
    padding-bottom: 45rem;
  }

  .main-wrap2 {
    padding-bottom: 38rem;
  }

  .main-wrap3 {
    padding-bottom: 36rem;
  }

  .main-wrap4 {
    padding-bottom: 38rem;
  }

  .main-text2 {
    padding: 40rem 7% 1.4rem;
  }

  .main-text2 .main-wrap {
    padding-top: 45rem;
    padding-bottom: 63rem;
  }

  .main-text2 .main-wrap2 {
    padding-bottom: 40rem;
  }

  .main-text2 .main-wrap3 {
    padding-bottom: 45rem;
  }

  .price {
    padding: 5rem 7% 1.4rem;
  }

  .price .main-wrap {
    padding: 20rem 7% 1.4rem;
  }

  .price .main-wrap2 {
    padding: 45rem 7% 1.4rem;
  }

  .rate {
    padding: 30rem 7% 1.4rem;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .icons .container .box img {
    height: 7rem;
    object-fit: cover;
    object-position: center;
  }

  .benefit {
    padding: 75rem 7% 1.4rem;
  }

  .benefit .container-list .tag img {
    height: 8rem;
    object-fit: cover;
    object-position: center;
  }

  .main-wrap2 {
    padding-top: 50rem;
  }

  .main-wrap3 {
    padding-top: 53rem;
  }

  .main-wrap4 {
    padding-top: 53rem;
  }

  .main-wrap5 {
    padding-top: 53rem;
  }

  .main-text2 {
    padding: 45rem 7% 1.4rem;
  }

  .main-text2 .main-wrap {
    padding-bottom: 70rem;
  }

  .main-text2 .main-wrap3 {
    padding-bottom: 50rem;
  }

  .price {
    padding: 15rem 7% 1.4rem;
  }

  .price .main-wrap {
    padding-top: 20rem;
  }

  .price .main-wrap2 {
    padding-top: 50rem;
  }

  .rating {
    flex-wrap: wrap;
    font-size: 5px;
    width: 350px;
    padding: 5px;
  }

  .contact {
    padding: 5rem 7%;
  }

  .contact h2 {
    padding-bottom: 0.2rem;
  }

  .contact p {
    padding-top: 0.2rem;
  }

  .partner {
    flex-wrap: wrap;
  }
}
